In [1]:
import pandas as pd

In [2]:
file_path1 = 'VR_Snapshot_20140101.txt' 

try:
    vr_snapshot_df1 = pd.read_csv(file_path1, delimiter='\t', encoding='utf-16le')
    print("File read successfully.")
    #print(vr_snapshot_df.head())
except FileNotFoundError:
    print(f"File not found at {file_path1}. Please check the file path.")
except Exception as e:
    print(f"An error occurred while reading the file: {e}")

/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/1359130341.py:4: DtypeWarning: Columns (25,27,28,29,47,49,51,55,57,63,65,67,69,71,73,75,77,79,81,87) have mixed types. Specify dtype option on import or set low_memory=False.
  vr_snapshot_df1 = pd.read_csv(file_path1, delimiter='\t', encoding='utf-16le')

File read successfully.

In [3]:
file_path2 = 'VR_Snapshot_20170101.txt' 

try:
    vr_snapshot_df2 = pd.read_csv(file_path2, delimiter='\t', encoding='utf-16le')
    print("File read successfully.")
    #print(vr_snapshot_df.head())
except FileNotFoundError:
    print(f"File not found at {file_path2}. Please check the file path.")
except Exception as e:
    print(f"An error occurred while reading the file: {e}")

/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/1684270408.py:4: DtypeWarning: Columns (25,27,28,29,47,49,51,55,57,63,65,67,69,71,73,75,77,79,81,87) have mixed types. Specify dtype option on import or set low_memory=False.
  vr_snapshot_df2 = pd.read_csv(file_path2, delimiter='\t', encoding='utf-16le')

File read successfully.

In [69]:
columns_to_select = ['voter_reg_num', 'ncid', 'last_name', 'first_name', 'midl_name', 'name_sufx_cd', 'age']
selected_df1 = vr_snapshot_df1[columns_to_select]
selected_df2 = vr_snapshot_df2[columns_to_select]

In [70]:
###

In [71]:
df_unique_ncids = selected_df1.drop_duplicates(subset='ncid')
sorted_unique_df = df_unique_ncids.sort_values(by='ncid', ascending=True)
selected_unique_df1 = sorted_unique_df.head(10000)
duplicates_check = selected_unique_df1[selected_unique_df1.duplicated('ncid', keep=False)]
duplicates_found = not duplicates_check.empty

In [72]:
df_unique_ncids2 = selected_df2.drop_duplicates(subset='ncid')
sorted_unique_df2 = df_unique_ncids2.sort_values(by='ncid', ascending=True)
selected_unique_df2 = sorted_unique_df2.head(10000)
duplicates_check2 = selected_unique_df2[selected_unique_df2.duplicated('ncid', keep=False)]
duplicates_found2 = not duplicates_check2.empty

In [73]:
duplicate_ncids = selected_unique_df1[selected_unique_df1.duplicated('ncid', keep=False)]
if not duplicate_ncids.empty:
    print("Duplicate NCID values found:")
    print(duplicate_ncids)
else:
    print("No duplicate NCID values found.")

No duplicate NCID values found.

In [74]:
duplicate_ncids2 = selected_unique_df2[selected_unique_df2.duplicated('ncid', keep=False)]
if not duplicate_ncids.empty:
    print("Duplicate NCID values found:")
    print(duplicate_ncids2)
else:
    print("No duplicate NCID values found.")

No duplicate NCID values found.

In [75]:
num_unique_ids = selected_unique_df1['ncid'].nunique()
num_unique_ids

10000

In [76]:
num_unique_ids = selected_unique_df2['ncid'].nunique()
num_unique_ids

10000

In [77]:
ids_in_both_datasets = selected_unique_df1['ncid'][selected_unique_df1['ncid'].isin(selected_unique_df2['ncid'])]
num_ids_in_both = ids_in_both_datasets.nunique()
num_ids_in_both

9985

In [78]:
if 'age' in selected_unique_df1.columns:
    # Calculate the birth year and create a new column "Date of Birth"
    selected_unique_df1['Date of Birth'] = 2014 - selected_unique_df1['age']
else:
    print("The 'age' column is not present in the DataFrame.")

/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/1397806001.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_unique_df1['Date of Birth'] = 2014 - selected_unique_df1['age']

In [79]:
if 'age' in selected_unique_df2.columns:
    # Calculate the birth year and create a new column "Date of Birth"
    selected_unique_df2['Date of Birth'] = 2018 - selected_unique_df2['age']
else:
    print("The 'age' column is not present in the DataFrame.")

/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/37178658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_unique_df2['Date of Birth'] = 2018 - selected_unique_df2['age']

In [80]:
def create_full_name(row):
    # Convert each part to string, replace NaN with empty string
    first_name = str(row['first_name']) if pd.notna(row['first_name']) else ''
    midl_name = str(row['midl_name']) if pd.notna(row['midl_name']) else ''
    last_name = str(row['last_name']) if pd.notna(row['last_name']) else ''
    name_sufx_cd = str(row['name_sufx_cd']) if pd.notna(row['name_sufx_cd']) else ''

    # Create the full name, skipping any empty parts
    full_name = ' '.join(filter(None, [first_name, midl_name, last_name, name_sufx_cd]))
    return full_name

# Apply the function to each row
selected_unique_df1['Full Name'] = selected_unique_df1.apply(create_full_name, axis=1)
selected_unique_df2['Full Name'] = selected_unique_df2.apply(create_full_name, axis=1)

/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/2941278902.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_unique_df1['Full Name'] = selected_unique_df1.apply(create_full_name, axis=1)
/var/folders/b2/kl7kvjxj3_93xk76yljmbmdw0000gr/T/ipykernel_87263/2941278902.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_unique_df2['Full Name'] = selected_unique_df2.apply(create_full_name, axis=1)

In [81]:
selected_unique_df1 = selected_unique_df1[['ncid', 'Full Name', 'Date of Birth']]
selected_unique_df2 = selected_unique_df2[['ncid', 'Full Name', 'Date of Birth']]

In [82]:
df1=selected_unique_df1

In [83]:
df2=selected_unique_df2

In [84]:
# Perform a left merge to add the 'Full Name' from df1 to df2 based on 'ncid'
df2 = df2.merge(df1[['ncid', 'Full Name']], on='ncid', how='left', suffixes=('', ' Original'))

# Rename the merged 'Full Name' column to 'Original Full Name'
df2.rename(columns={'Full Name Original': 'Original Full Name'}, inplace=True)

In [85]:
df2.rename(columns={'ncid': 'ID', 
                    'Original Full Name': 'Full Name1', 
                    'Full Name': 'Fuzzy Full Name'}, inplace=True)

In [86]:
df2 = df2[['ID', 'Full Name1', 'Fuzzy Full Name', 'Date of Birth']]
df2.rename(columns={'Full Name1': 'Full Name'}, inplace=True)

In [87]:
df1.rename(columns={'ncid': 'ID'}, inplace=True)

In [88]:
del df2['Full Name']

In [89]:
df1

              ID                    Full Name  Date of Birth
156142   AA10000       JAMES ALFRED CLUBB               1922
42559   AA100000    JAMES ARCHIE BOYDSTUN II            1968
42560   AA100001     LEWIS ANDREW BRANDON               1978
42561   AA100002     TRACEY ANN DRAHUSHUK               1970
42562   AA100003      RICHARD LEE BRIDGES               1965
...          ...                          ...            ...
39041   AA109125  MATTHEW BENJAMIN DODSON               1980
39042   AA109126    RICHARD EARNEST GREEN III           1969
39043   AA109127     AMANDA ALANA JENKINS               1980
39044   AA109128  PATRICK MCKINLEY WYRICK               1978
39045   AA109129       SHARON ANN YELLOCK               1968

[10000 rows x 3 columns]

In [90]:
df2

            ID           Fuzzy Full Name  Date of Birth
0      AA10000      JAMES ALFRED CLUBB             1923
1     AA100000  JAMES ARCHIE BOYDSTUN II           1969
2     AA100001    LEWIS ANDREW BRANDON             1979
3     AA100002    TRACEY ANN DRAHUSHUK             1971
4     AA100003     RICHARD LEE BRIDGES             1966
...        ...                       ...            ...
9995  AA109139       SHEA BALDWIN HUFF             1980
9996   AA10914         RALPH BOYD COOK             1915
9997  AA109140       JOHN LUCAS BARKER             1977
9998  AA109141   RICHARD GLENN BARNES SR           1958
9999  AA109142      DANNY LEE BATEMAN JR           1982

[10000 rows x 3 columns]

In [91]:
import csv
import re
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from random import randint
from scipy.spatial.distance import cosine
from sklearn.feature_extraction.text import TfidfVectorizer
from datasketch import MinHash, MinHashLSH
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import jellyfish
import itertools
from sklearn.metrics import jaccard_score
from nltk import ngrams
from sklearn.preprocessing import OneHotEncoder
import string
import hashlib
import math
from numpy.linalg import norm
import time
import psutil
import pickle

In [92]:
df1['Full Name'] = df1['Full Name'].str.lower()
#df2['Full Name'] = df2['Full Name'].str.lower()
df2['Fuzzy Full Name'] = df2['Fuzzy Full Name'].str.lower()

In [93]:
#Parameters
shingle_size = 3
num_permutations = 200
num_permutations2 = 50
num_permutations3 = 100
max_hash = (2**20)-1 #(2 ** 31) - 1

In [94]:
# Function to generate the shingles of a string
def generate_shingles(string, shingle_size):
    shingles = set()
    for i in range(len(string) - shingle_size + 1):
        shingle = string[i:i + shingle_size]
        shingles.add(shingle)
    return shingles

# Function to generate a hash value for a shingle
def hash_shingle(shingle):
    return int(hashlib.sha256(shingle.encode()).hexdigest(), 32)

# Function to generate a random permutation function
def generate_permutation_function(num_permutations, max_hash):
    def permutation_function(x):
        random.seed(x)
        a = random.randint(1, max_hash)
        b = random.randint(0, max_hash)
        return lambda h: (a * h + b) % max_hash
    return [permutation_function(i) for i in range(num_permutations)]

# Function to compute the MinHash signature of a set of shingles
def compute_minhash_signature(shingles, permutation_functions):
    signature = [float('inf')] * len(permutation_functions)
    for shingle in shingles:
        shingle_hash = hash_shingle(shingle)
        for i, permutation in enumerate(permutation_functions):
            hashed_value = permutation(shingle_hash)
            if hashed_value < signature[i]:
                signature[i] = hashed_value
    return signature

permutation_functions = generate_permutation_function(num_permutations, max_hash)

In [95]:
permutation_functions2 = generate_permutation_function(num_permutations2, max_hash)

In [96]:
permutation_functions3 = generate_permutation_function(num_permutations3, max_hash)

In [97]:
df_names=df1

In [98]:
strings1 = df_names['Full Name']
shingles1 = [generate_shingles(string, shingle_size) for string in strings1]
#
signatures1 = [compute_minhash_signature(shingle, permutation_functions) for shingle in shingles1]
signatures12 = [compute_minhash_signature(shingle, permutation_functions2) for shingle in shingles1]
signatures13 = [compute_minhash_signature(shingle, permutation_functions3) for shingle in shingles1]
#
df_names.insert(3, 'Signature-200', signatures1)
signatures_at_responser = df_names['Signature-200'].to_numpy()
signatures_at_responser = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser])
df_names.insert(4, 'Signature_Norm-200', signatures_at_responser.tolist())
#
df_names.insert(5, 'Signature-50', signatures12)
signatures_at_responser2 = df_names['Signature-50'].to_numpy()
signatures_at_responser2 = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser2])
df_names.insert(6, 'Signature_Norm-50', signatures_at_responser2.tolist())
#
df_names.insert(7, 'Signature-100', signatures13)
signatures_at_responser3 = df_names['Signature-100'].to_numpy()
signatures_at_responser3 = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser3])
df_names.insert(8, 'Signature_Norm-100', signatures_at_responser3.tolist())

In [99]:
df_fuzzy_names=df2

In [ ]:
strings1 = df_fuzzy_names['Fuzzy Full Name']
shingles1 = [generate_shingles(string, shingle_size) for string in strings1]
#
signatures1 = [compute_minhash_signature(shingle, permutation_functions) for shingle in shingles1]
signatures12 = [compute_minhash_signature(shingle, permutation_functions2) for shingle in shingles1]
signatures13 = [compute_minhash_signature(shingle, permutation_functions3) for shingle in shingles1]
#
df_fuzzy_names.insert(3, 'Fuzzy Signature-200', signatures1)
signatures_at_responser = df_fuzzy_names['Fuzzy Signature-200'].to_numpy()
signatures_at_responser = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser])
df_fuzzy_names.insert(4, 'Fuzzy Signature_Norm-200', signatures_at_responser.tolist())
#
df_fuzzy_names.insert(5, 'Fuzzy Signature-50', signatures12)
signatures_at_responser2 = df_fuzzy_names['Fuzzy Signature-50'].to_numpy()
signatures_at_responser2 = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser2])
df_fuzzy_names.insert(6, 'Fuzzy Signature_Norm-50', signatures_at_responser2.tolist())
#
df_fuzzy_names.insert(7, 'Fuzzy Signature-100', signatures13)
signatures_at_responser3 = df_fuzzy_names['Fuzzy Signature-100'].to_numpy()
signatures_at_responser3 = np.array([vec/np.linalg.norm(vec) for vec in signatures_at_responser3])
df_fuzzy_names.insert(8, 'Fuzzy Signature_Norm-100', signatures_at_responser3.tolist())

In [ ]:
exact_names_filename = f"df_names_ncvoter2014_10k_lsh200-50-100.pkl"
fuzzy_names_filename = f"df_fuzzy_names_ncvoter2017_10k_lsh200-50-100.pkl"

In [ ]:
df_names.to_pickle(exact_names_filename)
df_fuzzy_names.to_pickle(fuzzy_names_filename)

In [ ]:
df_fuzzy_names

In [ ]:
df_names